<div class="card" id="card-{{data.id}}">
    <a href="/sights/{{data.id}}"><img src="/{{data.url}}"></a>
    <div class="card-content">
        <label class="card-name">{{data.name}}</label>
        <label class="card-description">{{data.description}}</label>
        <div class="rating">
        </div>
    </div>
</div>