<div class="card" id="card-{{data.id}}">
    <a href="sights/{{data.id}}"><img src="/{{data.url}}" alt="{{data.name}}"></a>
    <div class="card-content">
        <p class="card-name">{{data.name}}</p>
        <p class="card-description">{{data.description}}</p>
        <div class="rating">
        </div>
    </div>
</div>