<div class="review" id="review-{{this.reviewContent.id}}">
     <a href="/profile/{{this.reviewContent.userID}}">
          <div class="review-top">
               <img src="{{this.reviewContent.avatar}}">
               <p class="review-username">{{this.reviewContent.username}}</p>
          </div>
     </a>
     <div class="review-content">
          <p class="review-text">{{this.reviewContent.feedback}}</p>
     </div>
     <div class="rating">

     </div>
     <div class="review-buttons">
          {{#if this.isOwn}}
          <button class="button-edit-review">Изменить отзыв</button>
          <button class="button-delete-review button-danger">Удалить отзыв</button>
          {{/if}}
     </div>
</div>